

.img-fluid {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 5px 0;
}




.producto_imagen{
	height: 150px;
	background-position: center;
	background-size: cover;

}


.texto_centrado {
	text-align: center;
}

.div_centrado {
	margin: 0 auto !important;
}

.img-responsive {
	max-width: 100%;
}

.texto_blanco {
	color: #fff;
}

.fondo_negro {
	background-color: #000;
}

.fondo_gris {
	background-color: #312e2e;
}

.texto_izquierda {
	text-align: left;
}

.texto_justificado {
	text-align: justify;
}


.nombre_producto{
	font-size: 16px;
	font-weight: bold;
}

.precio{
	font-size: 18px;
	font-weight: bold;
}

.texto_rojo{
	color: rgb(192, 84, 33);
}

.fondo_rojo{
	background-color: rgb(192, 84, 33);
}